connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
python_dateutil >= 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
matplotlib>=3.5.2
numpy>=1.21.5
pandas>=1.4.4
scikit_learn>=1.3.0
scipy>=1.9.1
seaborn>=0.11.2
tabulate>=0.8.10
xgboost>=1.7.4